{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}
{% block admin %}

    <div class="box-element first">
        <div class="box-element-header">Monitis</div>
        <div class="box-element-content">

            <div class="options-element">
                <div class="option">
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/monitis.png') }}" width="300" style="margin-left: 100px">
                </div>
                <div class="help">
                    {% content "integration-monitis-intro" %}
                    All-in-one application monitoring platform. Monitor your websites, servers, applications and more...
                    anytime from anywhere.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Alerts / Contacts</strong> - {{ project.name }}</h2>
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/monitis/step1.png') }}" width="200px">
                </div>
                <div class="help">
                    {% content "integration-monitis-step1" %}
                    The alert system in monitis works via contacts. A contact can not only be a person but also a webhook.
                    You can find the contacts in the main menu as part of the alerts submenus.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Webhook</strong> - {{ project.name }}</h2>
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/monitis/step2.png') }}" width="350px">
                </div>
                <div class="help">
                    {% content "integration-monitis-step2" %}
                    There is a lot of information taht can be added to the new contact. For koalamon only
                    three of them are important.
                    <ul>
                        <li>
                            <strong>Webhook Url</strong> - The webhook url for this project is. Please see next step for the key.
                        </li>
                        <li>
                            <strong>Request type</strong> - Choose POST as your request type.
                        </li>
                        <li>
                            <strong>Data format</strong> - Our webhooks understand JSON format. So please chose it.
                        </li>
                    </ul>
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Webhook Url</strong></h2>
                    <div class="code" style="white-space: normal; word-wrap: break-word;">{{ url('koalamon_webhook_format', {'format': 'monitis'}) }}?api_key={{ project.apiKey }}</div>
                </div>
                <div class="help">
                    {% content "integration-monitis-step1" %}
                    Please enter this url as webhook url.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Confirm</strong></h2>
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/monitis/step3.png') }}" width="500px">
                </div>
                <div class="help">
                    {% content "integration-monitis-step1" %}
                    Although monitis says you have to confirm your webhook you are already at the end of your todos.
                    Our server will check the confirmation URL and click it so you don't have to do.
                    {% endcontent %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}