{% extends '@KoalamonDefault/Default/master/admin.html.twig' %}

{% block admin %}

    <div class="box-element first">
        <div class="box-element-header">New Relic</div>
        <div class="box-element-content">
            <div class="options-element">
                <div class="option">
                    <h2><strong>Alerts</strong></h2>
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/newrelic/step1.png') }}" width="250px">
                </div>
                <div class="help">
                    {% content "integration-newrelic-step1" %}
                    First thing is to define the events you want to be alerted for. There are no special rules that have to be considered.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>New Notification Channel</strong></h2>
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/newrelic/step2.png') }}" width="350px">
                </div>
                <div class="help">
                    {% content "integration-newrelic-step2" %}
                    Koalamon and NewRelic can communicate via NewRelic Alerts. The only thing that has to be done is creating
                    a new notification channel.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Create a new notification channel</strong></h2>
                    <img src="{{ asset('bundles/koalamonintegrationwebhook/images/newrelic/step3.png') }}" width="460px">
                </div>
                <div class="help">
                    {% content "integration-newrelic-step3" %}
                    When creating a new notification channel there are only three fields you have to fill out.
                    <ul>
                        <li><strong>Select channel type</strong> - As channel type you have to choose Webhook. A webhook is a simple http interface we provide for NewRelic users.</li>
                        <li><strong>Channel name</strong> - You can choose any channel name you want. We prefer names like Koalamon - www.example.com, but it's up to you.</li>
                        <li><strong>Base Url</strong> - The base url is the last thing you have to configure. Please see the next step for the correct value.</li>
                    </ul>
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="options-element">
                <div class="option">
                    <h2><strong>Base Url</strong></h2>
                    <div class="code" style="white-space: normal; word-wrap: break-word;">{{ url('koalamon_webhook_standard') }}?api_key={{ project.apiKey }}</div>
                </div>
                <div class="help">
                    {% content "integration-newrelic-step1" %}
                    This is the base url NewRelic will send its events to.
                    {% endcontent %}
                </div>
            </div>

            <div style="clear: both"></div>
        </div>
    </div>

{% endblock %}